<!--The content below is only a placeholder and can be replaced.-->
<section class="todolist">

  <app-user-list-header (add)="onAddUser($event)"></app-user-list-header>

  <!-- <app-user-list></app-user-list> -->

  <table>
    <th>ID</th>
    <th>NAME</th>
    <tr *ngFor = "let user of users">
      <td>{{user.id}}</td>
      <td>{{user.userName}}</td>
    </tr>
</table>

  <!-- <section class="taskmain" *ngIf="tasks.length > 0">
      <ul class="task-list">
        <li *ngFor="let task of tasks" [class.finished]="task.status">
          <div class="view">
            <input class="toggle" type="checkbox" (click)="toggleTaskFinished(task)" [checked]="task.status">
            <label>{{task.name}}</label>
            <button class="destroy" (click)="removeTask(task)"></button>
          </div>
        </li>
      </ul>
    </section> -->

</section>

